<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="index/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="index/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="index/js/banner.js"></script>
<script type="text/javascript" src="index/js/lrtk.js"></script>
<script type="text/javascript" src="index/js/public.js"></script>
<script type="text/javascript" src="index/js/banner_1.js"></script>
<script type="text/javascript" src="index/js/productlist_roll.js"></script>
<!--[if IE 6]>
<script src="index/js/DDPngMin.js"></script>
<script>DD_belatedPNG.fix('.leftimg img,.rightimg img,.ico');</script>
<![endif]-->
<title>联系我们</title>
</head>
<body>
<div class="header">
  <div class="logo"><a href=""><img src="index/images/img/huamu.png" width="100%" /></a></div>
  <div class="nav">
    <ul>
      <li><a href="index.html" class="s1"></a></li>
      <li><a href="about.html" class="s2"></a></li>
      <li><a href="product.html" class="s3"></a></li>
      <li><a href="list_article.html?type=1" class="s4"></a></li>
      <li><a href="contactus.html" class="s5"></a></li>
    </ul>
  </div>
  <div class="tell"> <img src="index/images/tell1.jpg" /> </div>
</div>
<div class="warp_n">
  <div class="banner_n">
    <div id="focus">
      <ul>
       <li th:each="indexPic : ${indexPicList}">
        <a th:href="${indexPic.content}" target="_blank"><img th:src="${indexPic.pic}"/></a>
        </li>
        <!-- 
        <li><a href="" target="_blank"><img src="index/images/img/tab2.jpg"/></a></li>
        <li><a href="" target="_blank"><img src="index/images/img/tab3.jpg"/></a></li>
         -->
      </ul>
    </div>
    <div class="banner_n_bo">
      <div class="banner_noti">
         <div class="title"><img src="index/images/notice_n_ab.png" /></div>
        <div class="noti_con"> <span th:text="${#dates.format(gginfo.gtmCreate, '[yyyy-MM-dd]')}">[2013/09/05]</span>
          <p><a th:href="'shownews.html?id='+${gginfo.cid}" th:text="${gginfo.title}">成都华钼科技有限公司官方网站正式成立</a></p>
        </div>
      </div>
      <div class="banner_address">
        <div class="add_list">
          <p>电话：028-61666317</p>
          <p>地址：成都市金牛区光荣西路67号1幢309号</p>
        </div>
      </div>
      <div class="banner_onl">
        <dl>
          <dd>
						
          <a id="kf1" href="http://wpa.qq.com/msgrd?v=3&uin=979858199&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank"><img src="index/images/onlie_1.png" /></a>
          <a id="kf2" href="http://wpa.qq.com/msgrd?v=3&uin=979858199&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank"><img src="index/images/onlie_2.png" /></a>
          <a id="kf3" href="http://wpa.qq.com/msgrd?v=3&uin=979858199&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank"><img src="index/images/onlie_3.png" /></a>
          <a id="kf4" href="http://wpa.qq.com/msgrd?v=3&uin=979858199&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank"><img src="index/images/onlie_4.png" /></a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="con_warp">

    <div class="con_left" style="width: 1060px">
      <div class="right_con">
        <div class="about">
           <div class="title">
            <h1>联系我们</h1>
            <span>您现在的位置是：首页 / 联系我们</span>
          </div>
          <div class="contect">
            <div class="con_con">
            <dd>
                  <br> 联系电话：028-61666317
                  <br>公司地址：成都市金牛区光荣西路67号1幢309号 
                  <br>邮箱：service@goodemall.com
            </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="nav">
    <ul>
      <li><a href="index.html"><img src="index/images/foot_home.png" /></a></li>
      <li><a href="about.html"><img src="index/images/foot_about.png" /></a></li>
      <li><a href="product.html"><img src="index/images/foot_product.png" /></a></li>
      <li><a href="list_article.html?type=3"><img src="index/images/foot_case.png" /></a></li>
      <li><a href="list_article.html?type=1"><img src="index/images/foot_news.png" /></a></li>
      <li><a href="contactus.html"><img src="index/images/foot_contact.png" /></a></li>
      <li><a href="/login"><img src="index/images/foot_admin.png" /></a></li>
    </ul>
  </div>
  <div class="foot">
    <ul>
      <li>友情链接：</li>
     <li><a href="https://www.goodemall.com">一路全球跨境购</a></li>
    </ul>
    <p>Copyright © 2013 成都华钼科技有限公司 All Rights Reserved        网站建设：华钼科技</p>
    <p>联系电话：028-61666317　         公司地址：成都市金牛区光荣西路67号1幢309号    邮箱：service@goodemall.com</p>
  </div>
</div>
<script type="text/javascript" src="index/js/about.js"/>
</body>
</html>