<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="index/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="index/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="index/js/index.js"></script>
<script type="text/javascript" src="index/js/banner.js"></script>
<script type="text/javascript" src="index/js/lrtk.js"></script>
<script type="text/javascript" src="index/js/public.js"></script>
<script type="text/javascript" src="index/js/banner_1.js"></script>
<script type="text/javascript" src="index/js/productlist_roll.js"></script>
<!-- 模板Js -->
<script type="text/javascript" src="index/js/template.js"></script>
<!--[if IE 6]>
<script src="index/js/DDPngMin.js"></script>
<script>DD_belatedPNG.fix('.leftimg img,.rightimg img,.ico');</script>
<![endif]-->
<title>首页</title>
</head>
<body>
<div class="header">
  <div class="logo"><a href=""><img src="index/images/img/huamu.png" width="100%"/></a></div>
  <div class="nav">
    <ul>
      <li><a href="index.html" class="s1"></a></li>
      <li><a href="about.html" class="s2"></a></li>
      <li><a href="product.html" class="s3"></a></li>
      <li><a href="list_article.html?type=1" class="s4"></a></li>
      <li><a href="contactus.html" class="s5"></a></li>
    </ul>
  </div>
  <div class="tell">
   <img src="index/images/tell1.jpg" style="float: right;"/> </div>
</div>
<div class="siber_con">
  <div class="notice">
    <ul>
      <li th:each="news : ${ggList}">
      <span th:text="${#dates.format(news.gtmCreate, 'yyyy-MM-dd')}">[2013/09/04]</span>
      <a th:href="'shownews.html?id='+${news.cid}" th:text="${news.title}">华钼科技官网正式上线</a>
      </li>
    </ul>
  </div>
  <div class="onlie">
    <div class="o4"> <a href=""><img src="index/images/onlie_4.png" /></a></div>
    <div class="o3"> <a href=""><img src="index/images/onlie_3.png" /></a></div>
    <div class="o2"> <a href=""><img src="index/images/onlie_2.png" /></a></div>
    <div class="o1"> <a href=""><img src="index/images/onlie_1.png" /></a></div>
  </div>
  <div class="index_about">
    <div class="title"><h1><img src="index/images/index_about_title.png" /></h1></div>
    <div class="index_about_con">
      本公司成立于2009年，是一家软硬件集成服务提供商。2013年起，公司将主要发展方向定位为企业软件开发及互联网服务运营...
    </div>
    <div class="index_about_more"><a href="about.html"><img src="index/images/index_about_more.png" /></a></div>
  </div>
  <script type="text/javascript" src="index/js/index.js"></script>
  <script type="text/javascript"></script>
  <div class="banner">
    <div class="banner_sib">
      <div id="box">
        <ul id="pic_list">
          <li style="z-index:2;opacity:1;fliter:alpha(opacity=100);"><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <!-- 
          <li th:each="indexPic : ${indexPicList}" style="z-index:2;opacity:1;fliter:alpha(opacity=100);">
          <a th:href="${indexPic.content}"><img width="1024" height="490" th:src="${indexPic.pic}"/></a>
          </li>
           -->
          <!-- 
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
          <li><a href=""><img width="1024" height="490" src="index/images/banner_1.png" alt="" /></a></li>
           -->
        </ul>
        <ul id="text_list">
          <li>
            <h2 class="show"><a href=""></a></h2>
          </li>
          <li>
            <h2><a href=""></a></h2>
          </li>
          <li>
            <h2><a href=""></a></h2>
          </li>
          <li>
            <h2><a href=""></a></h2>
          </li>
          <li>
            <h2><a href=""></a></h2>
          </li>
        </ul>
        <div id="ico_list">
          <ul>
            <li class="active"><a href="product.html"><img width="81" height="81" src="index/images/banner_icon_03.png" alt="" /></a></li>
            <li><a href="product.html"><img width="81" height="81" src="index/images/banner_icon_11.png" alt="" /></a></li>
            <li><a href="product.html"><img width="81" height="81" src="index/images/banner_icon_14.png" alt="" /></a></li>
            <li><a href="product.html"><img width="81" height="81" src="index/images/banner_icon_08.png" alt="" /></a></li>
            <li><a href="product.html"><img width="81" height="81" src="index/images/banner_icon_05.png" alt="" /></a></li>
          </ul>
        </div>
        <a href="product.html" id="btn_prev" class="btn"></a> <a href="javascript:void(0)" id="btn_next" class="btn showBtn"></a> </div>
    </div>
  </div>
</div>
<div class="warp">
  <div class="index_home_news">
    <div class="title">
      <h1><img src="index/images/index_news.png" /></h1>
      <span><a href="list_article.html?type=1"><img src="index/images/more.jpg" /></a></span> </div>
    <div class="index_news_con">
      <h1><a href=""><img th:src="${newfirstpic}" id="newsinfolistpic" width="120" height="113" /></a></h1>
      <ul id="newsinfolist">
        <ul>
      <li th:each="news : ${newsList}">
      <a th:href="'shownews.html?id='+${news.cid}" th:text="${news.title}">华钼科技官网正式上线</a>
      <span th:text="${#dates.format(news.gtmCreate, 'yyyy-MM-dd')}">[2013/09/04]</span>
      </li>
       </ul>
      </ul>
      <div class="bottom"><img src="index/images/img/huamu.png" width="390" height="55" /></div>
    </div>
  </div>
  <div class="index_home_news_1">
    <div class="title">
      <h1><img src="index/images/index_news_2.png" /></h1>
      <span><a href="list_article.html?type=2"><img src="index/images/more.jpg" /></a></span> </div>
    <div class="news_2_con">
      <ul id="zxinfolist">
      
        <li th:each="news : ${zxList}">
          <div class="news_list2">
            <h1><a th:href="'shownews.html?id='+${news.cid}"><img th:src="${news.pic}" width="70px" height="55px"/></a></h1>
            <dl>
              <dt><a th:href="'shownews.html?id='+${news.cid}" th:text="${news.title}">公司介绍</a></dt>
             <dd th:href="'shownews.html?id='+${news.cid}" th:utext="${news.summary}">本公司成立于2009年，是一家软硬件集成服务提供商。2013年起，公司将主要发展方向定位为企业软件开发及互联网服务运营... </dd>
            </dl>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="index_case">
        <div class="case_images">
          <div class="focus">
            <ul class="rslides f426x240">
              <li><a th:href="'shownews.html?id='+${alinfo.cid}" target="_blank"><img th:src="${alinfo.pic}"/></a></li>
              <li><a th:href="'shownews.html?id='+${alinfo.cid}" target="_blank"><img src="index/images/ppde-1.png"/></a></li>
              <li><a th:href="'shownews.html?id='+${alinfo.cid}" target="_blank"><img src="index/images/ppde-2.png"/></a></li>
            </ul>
          </div>
          <div class="case_text">
            <dl>
              <dt th:text="'客户：'+${alinfo.title}">客户：成都国际铁路港</dt>
              <dd th:text="'简述：'+${alinfo.summary}">简述：本案例是一套一体化综合服务平台…</dd>
            </dl>
          </div>
        </div>
      </div>
</div>
<div class="index_product">
  <div class="title">
    <h1><img src="index/images/product_title.png" /></h1>
    <span>
    <div class="LeftButton" id="LeftArr1"></div>
    <div class="RightButton" id="RightArr1"></div>
    </span> </div>
  <ul class="zuopin_list" id="ISL_Cont_11" style="overflow:hidden;"  >
    <li th:each="productinfo : ${productList}">
      <div class="index_bann">
      <a th:href="'showproduct.html?id='+${productinfo.cid}"><img th:src="${productinfo.pic}" width="138px" height="140px"/></a>
      </div>
    </li>
  </ul>
  <div class="read_more"><a href="product.html"><img src="index/images/read_more.png" /></a></div>
</div>
<script language="javascript" type="text/javascript">
var scrollPic_03 = new ScrollPic();
scrollPic_03.scrollContId   = "ISL_Cont_11"; //内容容器ID
scrollPic_03.arrLeftId      = "RightArr1";//左箭头ID
scrollPic_03.arrRightId     = "LeftArr1"; //右箭头ID

scrollPic_03.frameWidth     = 1100;//显示框宽度
scrollPic_03.pageWidth      = 180; //翻页宽度

scrollPic_03.speed          = 10; //移动速度(单位毫秒，越小越快)
scrollPic_03.space          = 10; //每次移动像素(单位px，越大越快)
scrollPic_03.autoPlay       = true; //自动播放
scrollPic_03.autoPlayTime   = 3; //自动播放间隔时间(秒)

scrollPic_03.initialize(); //初始化
</script> 
<script>zuopin_list();</script>
<div class="footer">
  <div class="nav">
    <ul>
      <li><a href="index.html"><img src="index/images/foot_home.png" /></a></li>
      <li><a href="about.html"><img src="index/images/foot_about.png" /></a></li>
      <li><a href="product.html"><img src="index/images/foot_product.png" /></a></li>
      <li><a href="list_article.html?type=3"><img src="index/images/foot_case.png" /></a></li>
      <li><a href="list_article.html?type=1"><img src="index/images/foot_news.png" /></a></li>
      <li><a href="contactus.html"><img src="index/images/foot_contact.png" /></a></li>
      <li><a href="/login"><img src="index/images/foot_admin.png" /></a></li>
    </ul>
  </div>
  <div class="foot">
    <ul>
      <li>友情链接：</li>
     <li><a href="https://www.goodemall.com">一路全球跨境购</a></li>
    </ul>
    <p>Copyright © 2018 成都华钼科技有限公司 All Rights Reserved       网站建设：成都华钼科技</p>
    <p>联系电话：028-61666317　         公司地址：成都市金牛区光荣西路67号1幢309号    邮箱：service@goodemall.com</p>
  </div>
</div>
<!-- 新闻模板 -->
<script id="news-content" type="text/html">
	{{each rows as news}}
<li>
   <a href="shownews.html#{{news.cid}}">{{news.title}}</a>
   <span>[{{news.year}}-{{news.monthDay}}]</span>
</li>
	{{/each}}
</script>
<!-- 公告模板 -->
<script id="gonggao-content" type="text/html">
	{{each rows as news}}
<li>
 <span>[{{news.year}}-{{news.monthDay}}]</span> <a href="shownews.html#{{news.cid}}">{{news.title}}</a> 
</li>
	{{/each}}
</script>
<!-- 行业资讯 -->
<script id="zixun-content" type="text/html">
	{{each rows as news}}
       <li>
          <div class="news_list2">
            <h1><a href="shownews.html?id={{news.cid}}"><img src="{{news.pic}}" width="70px" height="55px"/></a></h1>
            <dl>
              <dt><a href="shownews.html?id={{news.cid}}">{{news.title}}</a></dt>
             <dd>{{news.summary}}</dd>
            </dl>
          </div>
        </li>
	{{/each}}
</script>
<script type="text/javascript">
$(function() {
	// 获取第一页新闻信息
	//getNews(1);
	//公告
	//getGongao(1);
	//资讯
	//getzixun(1);
});
/**
 * 获取新闻信息
 */
function getNews(page) {
	var url = 'home/indexinfo/list';
	$.ajax({
		type : 'POST',
		url : url,
		data : {
			'rows' : 3,
			'page' : page
		},
		dataType : 'json',
		success : function(data) {
			for (var i = 0; i < data.rows.length; i++) {
				var row = data.rows[i];
				showApost(row, 40);
			}
			console.log(data);
			$('#newsinfolist').html(template("news-content", data));
			$('#newsinfolistpic').attr('src', data.rows[0].pic);
			//pageNum(data.total, 10, page);
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			swal("错误", "获取数据错误！" + textStatus, "error");
		}
	});
}
/**
 * 获取公告信息
 */
function getGongao(page) {
	var url = 'home/indexinfo/list';
	$.ajax({
		type : 'POST',
		url : url,
		data : {
			'rows' : 2,
			'page' : page
		},
		dataType : 'json',
		success : function(data) {
			for (var i = 0; i < data.rows.length; i++) {
				var row = data.rows[i];
				showApost(row, 40);
			}
			$('#gginfolist').html(template("gonggao-content", data));
			//pageNum(data.total, 10, page);
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			swal("错误", "获取数据错误！" + textStatus, "error");
		}
	});
}
/**
 * 获取公告信息
 */
function getzixun(page) {
	var url = 'home/indexinfo/list';
	$.ajax({
		type : 'POST',
		url : url,
		data : {
			'rows' : 3,
			'page' : page
		},
		dataType : 'json',
		success : function(data) {
			for (var i = 0; i < data.rows.length; i++) {
				var row = data.rows[i];
				showApost(row, 40);
			}
			$('#zxinfolist').html(template("zixun-content", data));
			//pageNum(data.total, 10, page);
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			swal("错误", "获取数据错误！" + textStatus, "error");
		}
	});
}
/**
 * 显示省略号
 */
function showApost(row, num) {
	if (row.content && row.content.length > num) {
	    //row.content=htmldecode(row.content);
		row.content = row.content.substr(0, num) + '...';
	}
	var myDate = new Date(row.gtmCreate);
    var year = myDate.getFullYear();//获取当前年
    var yue = myDate.getMonth()+1;//获取当前月
    var days = myDate.getDate();//获取当前日
	//var dates = row.gtmCreate.split('-');
	row['year'] = year;
	row['monthDay'] = yue + '-' + days;
}
//富文本解析
    function htmldecode(html) {
//1.首先动态创建一个容器标签元素，如DIV
        var temp = document.createElement("div");
        //2.然后将要转换的字符串设置为这个元素的innerHTML(ie，火狐，google都支持)
        temp.innerHTML = html;
        //3.最后返回这个元素的innerText(ie支持)或者textContent(火狐，google支持)，即得到经过HTML解码的字符串了。
        var output = temp.innerText || temp.textContent;
        temp = null;
        return output;
}

</script>
</body>
</html>
